$green: #4cae4f;
$white: #fafafa;
$grey: #3f3f3f;
$dark: #2e2e2e;

$danger: #ff4444;
$warning: #ffbb33;
$success: #00c851;
$info: #33b5e5;

$header: 100px;
$width: 1100px;

$pc-wide: 1600px;
$pc: 1100px;
$tablet: 800px;
$phone: 500px;